In [2]:
import pandas as pd
import os

# Get the current working directory
current_directory = os.getcwd()

print("Current working directory:", current_directory)

Current working directory: c:\Users\thomm\Documents\GitHub\modelacion-y-simulacion-5\proyecto-final-prebel\bases-de-datos

In [3]:
file_path = r"C:\Users\thomm\Documents\GitHub\modelacion-y-simulacion-5\proyecto-final-prebel\bases-de-datos\datos-discretos.xlsx"
df = pd.read_excel(file_path)

In [4]:
df

,id,Paro Produccion,Centro de Trabajo,Evento,Turno,Fecha Turno,Año,Mes,Fecha Inicio,Fecha Fin,...,Turno 2,Turno 3,Id Centro,F Tiempo,Id Variables,semana,F Conversion Real,Cant.Operarios,Codigo Paro,Consumo de Energia
0,534776,0,E47,Cambio Turno,3,2022-12-31,2023,Enero,2022-12-31 22:00:03.353,2023-01-01 06:00:02.123,...,0.000,479.983,29,1.0,28694,1,0,0,NaN,0
1,534778,0,E46,Cambio Turno,3,2022-12-31,2023,Enero,2022-12-31 22:00:03.353,2023-01-01 06:00:02.123,...,0.000,479.983,28,1.0,28730,1,0,0,NaN,0
2,534801,0,E47,Cambio Turno,3,2022-12-31,2023,Enero,2022-12-31 22:00:03.353,2023-01-01 06:00:02.120,...,0.000,479.983,29,1.0,28694,1,0,0,NaN,0
3,534803,0,E46,Cambio Turno,3,2022-12-31,2023,Enero,2022-12-31 22:00:03.353,2023-01-01 06:00:02.120,...,0.000,479.983,28,1.0,28730,1,0,0,NaN,0
4,534815,0,4BOQUILLAS,Cambio Turno,3,2022-12-31,2023,Enero,2022-12-31 22:00:03.353,2023-01-01 06:00:02.123,...,0.000,479.983,31,1.0,28822,1,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109558,1127744,0,ACCUROFILL2,Cambio Turno,2,2023-12-31,2023,Diciembre,2023-12-31 14:00:16.523,2023-12-31 22:00:09.957,...,479.883,0.000,22,1.0,54405,53,0,0,NaN,0
109559,1127745,0,ACCUROFILL1,Cambio Turno,2,2023-12-31,2023,Diciembre,2023-12-31 14:00:16.523,2023-12-31 22:00:09.957,...,479.883,0.000,21,1.0,54410,53,0,0,NaN,0
109560,1127749,0,E48,Cambio Turno,2,2023-12-31,2023,Diciembre,2023-12-31 14:00:16.523,2023-12-31 22:00:09.957,...,479.883,0.000,30,1.0,54412,53,0,0,NaN,0
109561,1127750,0,ACCUROFILL1,Cambio Turno,2,2023-12-31,2023,Diciembre,2023-12-31 14:00:16.523,2023-12-31 22:00:09.957,...,479.883,0.000,21,1.0,54410,53,0,0,NaN,0
109562,1127752,0,E48,Cambio Turno,2,2023-12-31,2023,Diciembre,2023-12-31 14:00:16.523,2023-12-31 22:00:09.957,...,479.883,0.000,30,1.0,54412,53,0,0,NaN,0

In [5]:
# Initialize an empty list to keep track of non-repeated 'Orden'
ordenes = []

# Loop through the 'Orden' column and collect non-repeated values
for i in range(len(df['T Intervalo'])):
    if df['Orden'][i] not in ordenes:
        ordenes.append(df['Orden'][i])

# Create a dictionary from the list of non-repeated 'Orden'
ordenes_dict = {orden: 0 for orden in ordenes}
ordenes = ordenes[1:]

In [6]:
for i in range(len(df['T Intervalo'])):
    orden = df['Orden'][i]
    intervalo = df['T Intervalo'][i]

    ordenes_dict[orden] += intervalo

del ordenes_dict['0']

In [7]:
tiempos_cook = []
for orden in ordenes:
    tiempos_cook.append(ordenes_dict[orden])

In [8]:
# Create a DataFrame with two columns
df_aux = pd.DataFrame({'Ordenes': ordenes, 'Tiempos': tiempos_cook})

df_aux.to_excel('tiempos-cook.xlsx', index=True)

In [24]:
filtered_dict = {key: value for key, value in ordenes_dict.items() if key.startswith('8902')}
filtered_keys = list(filtered_dict.keys())
filtered_values = list(filtered_dict.values())


df_filtered = pd.DataFrame({'Ordenes': filtered_keys, 'Tiempos Crema de Bebé Éxito 1000': filtered_values})
df_filtered.to_excel('tiempos-cook-exito-1000.xlsx')

('89020231', 935.5089999999998)